.img{
      width: 50%;
      display: inline-block;
    }

#dis{
	width: 100%;
}
.text{
	width: 43%;
	display: inline-block;
	margin-left: 70px;
	
}
.body{
	width: 100%;
}
.essence-btn {
    display: inline-block;
    min-width: 170px;
    height: 50px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 40px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 50px;
    background-color: #0315ff;
    letter-spacing: 1.5px;
    font-weight: 600;
   
}

.md-input{
	display: inline-block;
	
}
.select{
	width: 220px;
	margin-right: 35px;
	padding: 15px 25px;
	color: #787878;
	font-weight: bold;
	margin-top: 35px;
	margin-bottom: 50px;
}
#text{
	font-size: 19px;
}
#text>b{
	margin-right: 25px;
}
.kongbai{
	 margin-top: 200px;
}
